DATABASE_URL=postgresql+psycopg://trackmytracks:trackmytracks@localhost:5433/trackmytracks
TEST_DATABASE_URL=postgresql+psycopg://trackmytracks:trackmytracks@localhost:5433/trackmytracks_test
SECRET_KEY=replace-with-output-of-python-secrets-token-hex
MB_USER_AGENT=TrackmyTracks/0.1 ( https://github.com/khadijahnaeem/TrackmyTracks )
# user token from https://listenbrainz.org/settings/
LISTENBRAINZ_TOKEN=
FLASK_RUN_PORT=5001
